
@import url('https://fonts.googleapis.com/css?family=Anton');
@import url('https://fonts.googleapis.com/css?family=Varela+Round');
@import url('https://fonts.googleapis.com/css?family=Raleway');
@import "mq";

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(35, 35, 128);
}

a {
  text-decoration: none;
  color: white;
}

ul {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  li {
    margin: 0 10px 0 10px;
  }
}

.h-1 {
	color: #FFFFFF;
	font-family: Anton;
	font-size: 5rem;
  line-height: 5rem;
  letter-spacing: 4px;
  text-align: center;
}

.h-4 {
  color: white;
  font-family: Anton;
  font-size: 35px;
  line-height: 41px;
}

li {
  color: #FFFFFF;
  font-family: Raleway;
  font-size: 14px;
  font-weight: bold;
  letter-spacing: 2px;
  line-height: 16px;
  text-align: center;
}

.burger {
  width: 30px;
  height: 15px;
  position: relative;
  margin: 10px auto;
  transform: rotate(0deg);
  transition: .5s ease-in-out;
  cursor: pointer;
  span {
    display: block;
    position: absolute;
    height: 2px;
    width: 100%;
    background: white;
    border-radius: 10px;
    opacity: 1;
    left: 0;
    transform: rotate(0deg);
    transition: .25s ease-in-out;
  }
  span:nth-child(1) {
    top: 0px;
    transform-origin: left center;
  }
  span:nth-child(2) {
    top: 8px;
    transform-origin: left center;
  }
  span:nth-child(3) {
    top: 16px;
    transform-origin: left center;
  }
  &.open span:nth-child(1) {
    transform: rotate(45deg);
    top: -7;
    left: 3px;
  }
  &.open span:nth-child(2) {
    width: 0%;
    opacity: 0;
  }
  &.open span:nth-child(3) {
    transform: rotate(-45deg);
    top: 21px;
    left: 3px;
  }
}

.container {
  display: grid;
  margin: 0 auto;
  @include desktop {
    width: 80%;
  }
}

header {
  display: grid;
  grid-template-columns: 1fr auto;
  justify-items: stretch;
  align-items: center;
  padding: 2rem;
  .marvel {
    height: 36px;
    width: 188px;
    color: #FFFFFF;
    font-family: "Varela Round";
    font-size: 43.2px;
    line-height: 36px;
  }
  .nav {
    display: flex;
    justify-content: flex-end;
    .search {
      margin: 0 10px 0 10px;
    }
    @include mobile {
      display: none;
    }
  }
}

.join-avengers {
  display: grid;
  grid-template-areas:
  "join"
  "image"
  "button";
  justify-items: center;
  padding-top: 5rem;
  h1 {
    grid-area: join;
  }
  .join-button {
    grid-area: button;
    height: 61px;
    width: 266px;
    border: 1px solid #C22326;
    border-radius: 2px;
    background-color: #C22326;
    span {
      color: #FFFFFF;
      font-family: Raleway;
      font-size: 12px;
      font-weight: bold;
      letter-spacing: 2px;
      line-height: 14px;
      text-align: center;
    }
  }
  img {
    grid-area: image;
    margin-top: 3rem;
  }
}

.content {
  display: grid;
  grid-template-columns: repeat(auto-fit);
  grid-gap: 20px;
}

.avengers-list {
  background-color: white;
  padding: 4rem 3rem 3rem 3rem;
  .h-2 {
    color: #000000;
    font-family: "Varela Round";
    font-size: 42px;
    line-height: 48px;
    span {
      color: #D6D6D6;
    }
  }
  .avenger {
    display: grid;
    grid-template-columns: auto 4fr;
    margin-top: 3rem;
    margin-bottom: 2rem;
    background-color: #5B8F21;
  }
  .avenger-description {
    display: flex;
    flex-direction: column;
    padding: 1rem;
  }
  .avenger-bio {
    color: #FFFFFF;
    font-family: "Varela Round";
    font-size: 12px;
    line-height: 13px;
    margin-top: 0.5rem;
  }
  img {
    height: 133px;
    width: 133px;
  }
}
.my-avengers {
  grid-row-start: 1;
  background-color: white;
  padding: 4rem 3rem 3rem 3rem;
  .avengers {
    margin-top: 4rem;
  }
  .avenger {
    margin-bottom: 3rem;
    display: flex;
    align-items: flex-end;
    width: 90%;
  }
  .h-2 {
    color: #000000;
    font-family: "Varela Round";
    font-size: 32px;
    line-height: 33px;
    text-align: center;
  }
  .h-4 {
    color: #BDBDBD;
    font-family: Anton;
    font-size: 35px;
    line-height: 41px;
  }
  img {
    height: 133px;
    width: 133px;
    opacity: 0.28;
    margin-right: 20px;
  }
}

footer {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  padding-top: 6rem;
  padding-bottom: 5rem;
  .marvel {
    height: 24px;
    width: 125px;
    color: #FFFFFF;
    font-family: "Varela Round";
    font-size: 28.8px;
    line-height: 24px;
    text-align: center;
  }
  .footer-nav {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    justify-items: center;
    ul {
      display: flex;
      flex-direction: column;
    }
    li {
      padding: 1rem 0 1rem 0;
    }
  }
  .nav {
    margin-top: 2rem;
  }
  .social {
    padding-top: 2rem;
    img {
      padding-left: 15px;
    }
  }
  .copy {
    justify-self: center;
    margin-top: 3rem;
    color: #CFCFCF;
    font-family: "Raleway";
    font-size: 12px;
    line-height: 22px;
  }
}

.pop-up-avenger {
  display: grid;
  grid-template-columns: auto 1fr;
  margin-top: 2rem;
  margin-bottom: 2rem;
  img {
    width: 256px;
    height: 256px;
  }
  .input {
    margin-left: 2rem;
    form {
      display: flex;
      flex-direction: column;
      align-items: baseline;
    }
  }
  textarea {
    margin-top: 2rem;
    height: 70px;
    width: 100%;
    color: #D6D6D6;
    font-family: "Varela Round";
    font-size: 24px;
    line-height: 30px;
  }
  .add-avenger-green {
    height: 61px;
    width: 266px;
    border-radius: 2px;
    background-color: #5B8F21;
    color: #FFFFFF;
    font-family: Raleway;
    font-size: 12px;
    font-weight: bold;
    letter-spacing: 2px;
    line-height: 14px;
    text-align: center;
  }
  .add-avenger-white {
    height: 61px;
    width: 266px;
    border: 1.5px solid #EAEAEA;
    border-radius: 2px;
    background-color: #FFFFFF;
    color: #C22326;
    font-family: Raleway;
    font-size: 12px;
    font-weight: bold;
    letter-spacing: 2px;
    line-height: 14px;
    text-align: center;
    img {
      width: 18px;
      height: 16px;
      margin-right: 10px;
    }
  }
  .h-2 {
    color: #C22326;
    font-family: Anton;
    font-size: 60px;
    line-height: 63px;
  }
}

.overlay {
  position: absolute;
  top: 0vh;
  bottom: 0vh;
  left: 0vw;
  right: 0vw;
  padding: 10px;
  background-color: rgba(182, 180, 179, 0.8);
  &.visible {
    display: block;
    height: 100%;
    opacity: 1;
    z-index: 1;
    transition: height 0s, opacity 300ms ease-in-out;
  }
  &.hidden {
    display: block;
    overflow: hidden;
    height: 0;
    top: 0;
    left: 0;
    opacity: 0;
    transition: height 0s 500ms, opacity 300ms ease-in-out;
  }
  .close-button{
    position: relative;
    display: inline-block;
    width: 30px;
    height: 30px;
    overflow: hidden;
    &:hover {
      &::before, &::after {
        background:  rgb(35, 35, 128);
      }
    }
    &::before, &::after {
      content: '';
      position: absolute;
      height: 3px;
      width: 100%;
      top: 50%;
      left: 0;
      margin-top: -1px;
      background: #D6D6D6;
    }
    &::before {
      transform: rotate(45deg);
    }
    &::after {
      transform: rotate(-45deg);
    }
  }
  .overlay-content {
    background-color: white;
    width: 90%;
    padding: 2rem 4rem 4rem 4rem;
    margin: 0 auto;
    .hold-this-button {
      display: flex;
      justify-content: flex-end;
    }
  }
}
